:root {
    --background: #fff;
    --color: rgb(64 64 64);
    --fonts: ReithSans, Arial, Helvetica, freesans, sans-serif;
    /* Group B */
    --font-size: 16px;   
    --line-height: 22px;
    --trafalgar-font-size: 24px;
    --trafalgar-line-height: 28px;
    /* Group 2 */
    --2SU: 8px;
    --3SU: 12px;
    --4SU: 16px;
    --5SU: 20px;
    --7SU: 32px;
    --header-height: 56px;
}

body {
    font-family: var(--fonts);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background);
    color: var(--color);;
    margin: 0;
    padding: 0;
    border: 0;
}

body > header {
    padding: var(--7SU) var(--4SU) var(--4SU);
    font-size: var(--trafalgar-font-size);
    line-height: var(--trafalgar-line-height);
    min-height: var(--header-height);
    background: #eeeeee;
    border-bottom: 1px solid #dcdcdc;
}

main {
    margin: var(--7SU) var(--4SU);
}

main article {
    margin-top: var(--5SU);
}

main article h2.loading:after {
    content: '⏱';
    padding-left: var(--2SU);
}

main article img {
    width: 100%;
}

main article p.feedback {
    display: none;
    text-align: center;
}

main article p.feedback.loading {
    display: block;
    color: var(--color);
}

main article p.feedback.error {
    display: block;
    color: red;
}

main article p.feedback.error:before {
    content: '⚠';
    color: red;
    padding-right: var(--2SU);
}




main > button {
    display: block;
    margin: var(--5SU) auto;
    padding: var(--3SU);
}

main > button svg {
    height: var(--line-height);
    vertical-align: top;
    padding-right: var(--2SU);
}

body > footer {
    font-size: .6rem;
    line-height: .44rem; /* .6 * 16/22 */
    font-style: italic;
}

body > footer a {
    color: #1c7bbd;
    text-decoration-color: #1c7bbd;
}

body > footer {
    margin: var(--4SU);
}
